{% extends 'base.html.twig' %}

{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>Cart</h3>
                <ul>
                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>
                    <li><a href="">Empty Cart</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <section class="emty_cart_area p-tb-100">
        <div class="container">
            <div class="emty_cart_inner">
                <i class="zmdi zmdi-shopping-basket"></i>
                <h3>Your Cart is Empty</h3>
                <h4>back to <a href="{{ path('products', { locale: 'en' }) }}">shopping</a></h4>
            </div>
        </div>
    </section>

{% endblock %}