{% extends 'baseAr.html.twig' %}

{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>عربة التسوق</h3>
                <ul>
                    <li><a href="#">الصفحة الرئيسية</a></li>
                    <li><a href="#">عربة فارغة</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <section class="emty_cart_area p-tb-100">
        <div class="container">
            <div class="emty_cart_inner">
                <i class="zmdi zmdi-shopping-basket"></i>
                <h3>عربة التسوق فارغة</h3>
                <h4>ارجع الى <a href="{{ path('products') }}">التسوق</a></h4>
            </div>
        </div>
    </section>

{% endblock %}