<div class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 {% if app.user %} icon-header-noti js-show-wish {% endif %} js-wish-list-icon"
{#     data-notify="{{ countItemsWishList }}"#}
>
    <i class="zmdi zmdi-favorite-outline"></i>
</div>