<div class="dis-none panel-search w-full p-t-10 p-b-15">
    {{ form_start(form, {'attr': {'class': 'js-filter-search'}}) }}
    <div class="bor8 dis-flex p-l-15">
        <a class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" style="cursor: pointer;">
            <i class="zmdi zmdi-search"></i>
        </a>
        {{ form_row(form.string, {'attr': {'class': 'mtext-107 cl2 size-114 plh2 p-r-15', 'placeholder':'Search'}}) }}
    </div>
    {{ form_end(form) }}
</div>