<div class="dis-none panel-sort w-full p-t-10">

    <div class="wrap-filter flex-w bg6 w-full p-all-40 justify-content-center">

        <div class="row js-filter-sorting">

            {% include 'product/_sorting.html.twig' %}

        </div>

    </div>

</div>