{% extends 'base.html.twig' %}
{% block title %}Password Reset Email Sent{% endblock %}
{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>Check Email</h3>
                <ul>
                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>
                    <li><a href="">Check Email</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <!--================login Area =================-->
    <section class="login_area p-t-100 p-b-100">
        <div class="container">
            <div class="login_inner">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="login_title">
                            <h2>Check Email</h2>
                            <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
                            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request', { locale: 'en' }) }}">try again</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End login Area =================-->

{% endblock %}
