{% extends 'baseAr.html.twig' %}
{% block title %}Password Reset Email Sent{% endblock %}
{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>تفقد البريد الإلكتروني</h3>
                <ul>
                    <li><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a></li>
                    <li><a href="">تفقد البريد الإلكتروني</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <!--================login Area =================-->
    <section class="login_area p-t-100 p-b-100">
        <div class="container">
            <div class="login_inner">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="login_title">
                            <h2>تفقد البريد الإلكتروني</h2>
                            <p>تم إرسال بريد إلكتروني يحتوي على ارتباط يمكنك النقر فوقه لإعادة تعيين كلمة المرور الخاصة بك. ستنتهي صلاحية هذا الرابط في {{ tokenLifetime|date('g') }} ساعات.</p>
                            <p>إذا لم تستلم بريدًا إلكترونيًا ، فيرجى التحقق من مجلد البريد العشوائي أو <a href="{{ path('app_forgot_password_request', { locale: 'ar' }) }}">حاول مرة أخرى</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End login Area =================-->

{% endblock %}
