<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="animsition">
<div class="container" style="border: 20px solid #d97591;padding-left: 0;padding-right: 0;">
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop" style="padding: 20px 0; background-color: #E4E4E4">
				<nav class="limiter-menu-desktop container text-center">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="https://shoppinga.genesistech-dz.com/media/images/icons/logo-01.png" width="200" alt="IMG-LOGO">
					</a>
				</nav>
			</div>	
		</div>
	</header>

	<section style="background-color: #fff;padding-bottom: 140px;padding-top: 23px;">
		<h1 style="text-align: center; color: #20d8ed;"><strong>Contact</strong></h1>
		<p style="text-align: center;"><strong>FoodShack <br/>Thank you Mr <span style="color: deepskyblue">{{ contact.name }}</span> for your inscription, we hope you find what you need</strong></p>
		<p style="text-align: center;">&nbsp;</p>
		<p style="text-align: center;"> {{ contact.email }}&nbsp;</p>
		<p style="text-align: center;"></p>
		<p style="text-align: center;"> {{ contact.message }} </p>
	</section>
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">

			<div class="row" style="padding:0 10px">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="https://shoppinga.genesistech-dz.com/media/images/icons/icon-pay.png" width="120" alt="ICON-PAY">
					</a>

				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>

	</footer>
</div>
<!--===============================================================================================-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style>
		.bg3 {
			background-color: #222;
		}

		element.style {
		}
		.bg3 {
			background-color: #222;
		}
		.p-b-32, .p-tb-32, .p-all-32 {
			padding-bottom: 32px;
		}
		.p-t-75, .p-tb-75, .p-all-75 {
			padding-top: 75px;
		}
		.p-b-50, .p-tb-50, .p-all-50 {
			padding-bottom: 50px;
		}
		.cl0 {
			color: #fff;
		}
		.stext-301 {
			font-family: Montserrat-Bold;
			font-size: 15px;
			line-height: 1.6;
			text-transform: uppercase;
		}
		.p-b-30, .p-tb-30, .p-all-30 {
			padding-bottom: 30px;
		}
		.p-b-10, .p-tb-10, .p-all-10 {
			padding-bottom: 10px;
		}
		.stext-107 {
			font-family: Poppins-Regular;
			font-size: 13px;
			line-height: 1.923;
		}
		.cl7 {
			color: #b2b2b2;
		}
		.wrap-input1 {
			position: relative;
			border-bottom: 2px solid rgba(204,204,204, 0.1);
		}
		.w-full {
			width: 100%;
		}
		.p-b-4, .p-tb-4, .p-all-4 {
			padding-bottom: 4px;
		}
		.input1 {
			background-color: transparent;
			width: 100%;
		}
		.focus-input1 {
			position: absolute;
			width: 0%;
			height: 2px;
			background-color: #6774d5;
			left: 0;
			bottom: -2px;
		}
		.p-t-18, .p-tb-18, .p-all-18 {
			padding-top: 18px;
		}
		.flex-c-m {
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
		}
		.bor1 {
			border-radius: 23px;
		}
		.bg1 {
			background-color: #717fe0;
		}
		.size-103 {
			min-width: 179px;
			height: 46px;
		}
		.stext-101 {
			font-family: Poppins-Medium;
			font-size: 15px;
			line-height: 1.466667;
			text-transform: uppercase;
		}
		.cl0 {
			color: #fff;
		}
		.p-t-40, .p-tb-40, .p-all-40 {
			padding-top: 40px;
		}
		.flex-c-m {
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
		}
		.flex-w {
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.flex-w, .flex-l, .flex-r, .flex-c, .flex-sa, .flex-sb, .flex-t, .flex-b, .flex-m, .flex-str, .flex-c-m, .flex-c-t, .flex-c-b, .flex-c-str, .flex-l-m, .flex-r-m, .flex-sa-m, .flex-sb-m, .flex-col-l, .flex-col-r, .flex-col-c, .flex-col-str, .flex-col-t, .flex-col-b, .flex-col-m, .flex-col-sb, .flex-col-sa, .flex-col-c-m, .flex-col-l-m, .flex-col-r-m, .flex-col-str-m, .flex-col-c-t, .flex-col-c-b, .flex-col-c-sb, .flex-col-c-sa, .flex-col-l-sb, .flex-col-r-sb, .flex-row, .flex-row-rev, .flex-col, .flex-col-rev, .dis-flex {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
		}

		element.style {
		}
		.flex-c-m {
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
		}
		.flex-w {
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.flex-w, .flex-l, .flex-r, .flex-c, .flex-sa, .flex-sb, .flex-t, .flex-b, .flex-m, .flex-str, .flex-c-m, .flex-c-t, .flex-c-b, .flex-c-str, .flex-l-m, .flex-r-m, .flex-sa-m, .flex-sb-m, .flex-col-l, .flex-col-r, .flex-col-c, .flex-col-str, .flex-col-t, .flex-col-b, .flex-col-m, .flex-col-sb, .flex-col-sa, .flex-col-c-m, .flex-col-l-m, .flex-col-r-m, .flex-col-str-m, .flex-col-c-t, .flex-col-c-b, .flex-col-c-sb, .flex-col-c-sa, .flex-col-l-sb, .flex-col-r-sb, .flex-row, .flex-row-rev, .flex-col, .flex-col-rev, .dis-flex {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
		}
		.p-b-18, .p-tb-18, .p-all-18 {
			padding-bottom: 18px;
		}
		.m-r-1, .m-lr-1, .m-all-1 {
			margin-right: 1px;
		}
		.cl6 {
			color: #888;
		}
		.txt-center {
			text-align: center;
		}
	</style>
</body>
</html>